@import 'styles/vars.scss';
.layoutContainer {
  display: flex;
  > .content {
    flex: 1;
  }
}
.navContainer {
  background-color: #000;
  color: $pink;
  max-width: 160px;
  min-height: 100vh;
  padding: 10px 0 0 20px;
  > li {
    width: 140px;
    padding: 10px 20px 10px 4px;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid $pink;
    @include one-line;
  }
}
