@import '../../styles/vars.scss';
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  user-select: none;
  .top {
    display: flex;
    align-items: flex-end;
    .handler {
      transform-origin: 50% 88.5%;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -1em;

      .anchor,
      .head {
        width: 7em;
        height: 7em;
        border-radius: 50%;
        border: 0.5em solid $grey;
        background-color: $pink;
        z-index: 10;
      }
      .head {
        position: relative;
        top: 6em;
        cursor: pointer;
      }
      .axis {
        width: 4.8em;
        height: 16.5em;
        background-color: $pink;
        // 使用透视画梯形
        transform: perspective(4.2em) rotateX(9deg);
        border: 0.5em solid $grey;
        position: relative;
        top: 1em;
      }
    }
    .voiceContainer {
      display: flex;
      flex-direction: column;
      margin-left: 10em;
      align-items: center;

      .voiceDisplay {
        width: 6em;
        height: 21em;
        border: 1em solid $blue;
        border-width: 5em 1.5em 5em 1.5em;
        position: relative;
        .voiceNumber {
          position: absolute;
          top: -1.7em;
          width: 1.5em;
          text-align: center;
          color: $grey;
          font-size: 2em;
          font-weight: 600;
        }
        .voiceFill {
          width: 3em;
          height: 14em;
          background-color: $grey;
          border-bottom: 0em solid $pink;
        }
      }
      .voiceLogo {
        width: 6em;
      }
    }
  }
  .bottom {
    height: 8em;
    width: 60em;
    background-color: $black;
    position: relative;
    top: -8em;
    z-index: -1;
  }
}
