@import 'styles/vars.scss';

.container {
  width: 100vw;
  height: 100vh;
  @include center;
  flex-direction: column;
  background-color: $pink;
}
.musicList {
  box-shadow: 0 30px 80px #656565;
  background-color: #fff;
  width: 540px;
  height: 200px;
  border-radius: 16px;
  position: relative;
  z-index: 3;
  margin-top: 24px;
  > .title {
    font-size: 16px;
    margin-top: 12px;
    padding: 12px 18px;
    border-bottom: 1px solid $grey;
  }
  > .item {
    @include one-line;
    font-size: 16px;
    padding: 12px 40px;
    color: #555;
    border-bottom: 1px solid $grey;
    &:hover {
      background-color: $pink;
      color: #fff;
    }
  }
}
